#
# File: snowstorm_cd_workflows.yaml | Note: Integrates the Continuous Deployment Pipeline for Project
#

#
# MIT License
# 
# Copyright (c) 2022 Shaid Khan
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

name: Build Snowstorm Project CD
on:
  push:
    branches:
      - build

job:
  deploy_project:
    name: Deploy Snowstorm Project
    runs-on: windows-latest

    steps:
    - name: Checkout Project Repositories
      uses: actions/checkout@v3

    - name: Configure Environment - V16
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: Integrate Dependencies 
      run: npm ci

    - name: Package Project
      run: npm run package

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: snowstorm_artifact_vsix
        path: ./*.vsix
        retention-days: 30
